
<h2> Contact Pie Shop </h2>
<p> If you have any questions, please don't hesitate to get in touc. Click below to send email: </p>

<!-- Adding the TagHelper -->
<email address="info@@pieshop.com" content="Contact us"> </email>